<!DOCTYPE html>
<html>
{include file="../application/index/view/header.html" /}

<body class="hold-transition register-page">
<div class="register-box">
    <!--<div class="register-logo">-->
        <!--<a href="#"><b>Admin</b>LTE</a>-->
    <!--</div>-->

    {notempty name="flush"}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {$flush}
    </div>
    {/notempty}
    <div class="register-box-body">
        <p class="login-box-msg">注册新用户</p>

        <form action="{:url('useradd')}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="code" placeholder="邀请码" autocomplete="off">
                <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="name" placeholder="账户" autocomplete="off">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="realname" placeholder="中文名" autocomplete="off">
                <span class="glyphicon glyphicon-subscript form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="" class="form-control" name="phone" placeholder="手机" autocomplete="off">
                <span class="glyphicon glyphicon-earphone form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" name="email" placeholder="邮箱" autocomplete="off">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" placeholder="密码" autocomplete="off">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="repassword" placeholder="重复密码" autocomplete="off">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">

                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <br>
        <a href="{:url('login')}"><div>返回登录</div></a>

    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

</body>
</html>